# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo

# ==============================
# Virtual Environment
# ==============================
venv/
vevn/

data/
processed_data/

venv/
env/
.vevn/
*.env
.conda/
*.exe

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints

# ==============================
# Logs
# ==============================
logs/
*.log

# ==============================
# Artifacts (Models & Outputs)
# ==============================
Artifacts/
artifacts/
*.pkl
*.joblib
*.csv
*.h5

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Flask
# ==============================
instance/
.webassets-cache

# =============================
